<h1> Welcome <%= @user.username %> </h1>

<section class="randomizer">
  <button class="button"> <%= link_to 'Where to Eat??', user_path(current_user, restaurant_id: @restaurants.shuffle.pop), method: :get %> </button><br><br>
  <%= @restaurant.name if @restaurant %><br><br>
</section>

<section class="search">

</section>
<%= link_to "Add Restaurant", new_user_restaurant_path(current_user) %><br>

<%= link_to "Edit Account", edit_user_path %>

