
<div class="form">
  <%= form_for @restaurant do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, list: 'restuarant-name' %><br><br>
      <datalist id="restuarant-name">
      <% Restaurant.all.each do |r| %>
        <option value="<%= r.name %>"></option>
      <% end %>
      </datalist>
    <%= f.label :food_type %>
    <%= f.collection_check_boxes :food_type_ids, FoodType.all, :id, :name %>
    <%= f.fields_for :food_type, @restaurant.food_types.build do |food_type| %>
      <%= food_type.text_field :name, placeholder: "New Food Type" %><br><br>
    <% end %>
    <%= f.fields_for :user_restaurants, @restaurant_user do |r| %>
      <%= r.hidden_field :user_id, value: current_user.id %>
      <%= r.label :notes %>
      <%= r.text_field :notes %><br><br>
    <% end %>
    <%= f.submit %>
  <% end %>
</div>

<br>
