<header>
  <h1><%= @restaurant.name %>: <%= @restaurant_notes %> </h1>
</header>
<% @restaurant.food_types.each do |type| %>
  <ul class="list">
  <li> <%= link_to type.name, food_type_restaurants_path(type) %> </li>
  </ul>
<% end %>

<div class="link">
  <%= link_to "Edit Restaurant", edit_restaurant_path %> <br>
  <%= link_to "Delete Restaurant", restaurant_path(@restaurant), method: :delete %>
</div>
