<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantRandomizer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    
    <%= yield %>

    <div class="link">
      <% if logged_in? %>
        <br><%= link_to "Food Types", food_types_path %><br>
        <%= link_to "Restaurants", user_restaurants_path(current_user) %><br>
        <%= link_to "Logout", logout_path, method: :delete %><br>
        <%= link_to "Go Home", user_path(current_user) %>
      <% end %>
    </div>

  </body>
</html>
